#rcorners1 {
  border-radius: 15px 50px;
  background: #73ad21;
  padding: 25px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 15px 50px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners3 {
  border-radius: 15px 50px;
  background: url(img.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#p1 {
  background-color: rgb(255, 0, 0);
  opacity: 0.6;
}
#p2 {
  background-color: rgb(0, 255, 0);
  opacity: 0.6;
}
#p3 {
  background-color: rgb(0, 0, 255);
  opacity: 0.6;
}
#p4 {
  background-color: rgb(192, 192, 192);
  opacity: 0.6;
}
#p5 {
  background-color: rgb(255, 255, 0);
  opacity: 0.6;
}
#p6 {
  background-color: rgb(255, 0, 255);
  opacity: 0.6;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  div {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }
  
  div:hover {
    width: 300px;
  }